$color-primary: #FFFFF4;
$color-secondary: #D1A12A;
$color-pale: #AE7B37;
$color-mid: #FADADD;
$color-dark: #FFD1DC;
$color-black-transparent: rgba(0, 0, 0, 0.5);
$color-teal: #2fc8df;

///change the font still. This is all copied still.///
$body-font: "Open Sans", sans-serif;
$header-font: "Lobster", cursive;

body {
    background-image: linear-gradient(color-primary, color-mid, color-dark)
}

h1 {
    font-family: $header-font;
}